@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 20px;
  line-height: 40px ;
}

.app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 90px 3fr 1fr;
  grid-template-areas: 
  "nav"
  "menu"
  "section"
  "footer";
}

.inscription a{
  color: #0099FF;
  text-decoration: none;
  font-size: 20px;
 
}
.contacts :first-child{
  font-size: xx-large;
  margin: 10px 10px;
}

.contacts p{
  margin-left: 10px;
  line-height: 10px ;
}

.formulaire input{
  border-radius: 4px;
  outline:  none;
  height: 30px;
  font-size: 18px;
}

.formulaire button{
  height: 30px;
  background-color: tomato;
  border: none;
  border-radius: 4px;
}

.formulaire textarea{
  outline:  none;
  border-radius: 4px;
}


.transports :first-child{
  font-size: xx-large;
  margin: 10px 10px;
}

.transports p{
  margin-left: 10px;
}

nav{
  background-image: url('./assets/img/1.jpg');
  background-size: cover;
  height: 450px;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


nav h2{
  text-align: center;
}

nav p{
  font-size: 17px;
}

.nav{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

menu{
  grid-area: "menu";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 70px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.menu li .on{
  color: #f60;
}

.menu li{
  display: inline;
  margin-left: 22px;
}

.menu li a{
  text-decoration: none;
  color: #039;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu li a:hover{
  color: #09f;
  transition: 0.5s;
}

.voir-menu, .cacher-menu, #check{
  display: none;

}
section{
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  width: 730px;
  font-size: 30px;
 
}
.article-home{
  width: 500px;
  text-align: center;
  margin: auto;
}


.video{
  text-align: center;
}


footer{
  background-color: #666;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

form{
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin:100px auto;
  width: 500px;
}

form input{
  margin-bottom: 20px;
}
textarea{
  margin-bottom: 20px;
}
.inscription :first-child{
  font-size: xx-large;
  margin: 10px 10px;
}

.inscription  p{
  margin-left: 10px;
}
/* tab */
table {
  border:3px solid black;
  border-collapse:collapse;
  width:90%;
  margin:135px auto;
  
  }
  thead, tfoot {
  background-color:#D0E3FA;
  border:1px solid #6495ed;
  }
  tbody {
  background-color:#FFFFFF;
  border:1px solid black;
  }
  th {
  font-family:monospace;
  border:1px dotted black;
  padding:5px;
  background-color:#EFF6FF;
  width:15%;
  }
  td {
  font-family:sans-serif;
  font-size:80%;
  border:1px solid black;
  padding:5px;
  text-align:left;
  }
  caption {
  font-family:sans-serif;
  }


    /* Judo & JJB */
  th[class='eveil'], td[class='eveil']{
    background-color: tomato;
  }
  th[class='baby-presPoussin'], td[class='baby-presPoussin']{
    background-color: steelblue;
  }
  th[class='poussin-benjamin'], td[class='poussin-benjamin']{
    background-color: papayawhip;
  }
  th[class='ados-adultes'], td[class='ados-adultes']{
    background-color: orange;
  }

  /* MMA */
  th[class='mma-kids'], td[class='mma-kids']{
    background-color: seagreen;
  }
  th[class='mma-ados-adultes'], td[class='mma-ados-adultes']{
    background-color: rgb(0, 179, 255);
  }

  /* Boxe */
   th[class='boxe-kids'], td[class='boxe-kids']{
    background-color: #fb1;
  }
  th[class='boxe-lady'], td[class='boxe-lady']{
    background-color: pink;
  }
  th[class='boxe-mixte'], td[class='boxe-mixte']{
    background-color: rgb(17, 255, 172);
  }

  .certif img{
   margin: auto;
  }

@media screen and (max-width: 950px) {

  menu{
    display: flex;
    justify-content: flex-end;
    background-color: cadetblue;
  }

  .voir-menu, .cacher-menu{
    display: block;
    font-size: 30px;
    cursor: pointer;
    transform-origin: 0.5s;
}

.voir-menu:hover, .cacher-menu:hover{
    color: #666;
    transform-origin: 0.5s;
}

.menu{
    background-color: #dbdbdb;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    transition: 0.5s;
    padding-top: 80px;
}

.menu li{
    display: block;
    margin-left: 22px;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}

#check:checked ~ .menu{
    right: 0;
}

.cacher-menu{
    position: absolute;
    top: 40px;
    right: 40px;
    
}

}