@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 20px;
}

.app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 90px 3fr 1fr;
  grid-template-areas: 
  "nav"
  "menu"
  "section"
  "footer";
}

nav{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #666;
  color: #dbdbdb;
  height: 130px;
}

nav h2{
  text-align: center;
}

nav p{
  font-size: 17px;
}

menu{
  grid-area: "menu";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 70px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.menu li .on{
  color: #f60;
}

.menu li{
  display: inline;
  margin-left: 22px;
}

.menu li a{
  text-decoration: none;
  color: #039;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu li a:hover{
  color: #09f;
  transition: 0.5s;
}

.voir-menu, .cacher-menu, #check{
  display: none;

}
section{
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  width: 730px;
  font-size: 30px;
  margin: auto;
 
}
.article-home{
  width: 500px;
  text-align: center;
  margin: auto;
}


.video{
  text-align: center;
}


footer{
  background-color: #666;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

form{
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin:100px auto;
  width: 500px;
}

form input{
  margin-bottom: 20px;
}
textarea{
  margin-bottom: 20px;
}
@media screen and (max-width: 950px) {

  menu{
    display: flex;
    justify-content: flex-end;
    background-color: cadetblue;
  }

  .voir-menu, .cacher-menu{
    display: block;
    font-size: 30px;
    cursor: pointer;
    transform-origin: 0.5s;
}

.voir-menu:hover, .cacher-menu:hover{
    color: #666;
    transform-origin: 0.5s;
}

.menu{
    background-color: #dbdbdb;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    transition: 0.5s;
    padding-top: 80px;
}

.menu li{
    display: block;
    margin-left: 22px;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}

#check:checked ~ .menu{
    right: 0;
}

.cacher-menu{
    position: absolute;
    top: 40px;
    right: 40px;
    
}
}