@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 18px;
  line-height: 40px ;
}

.app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 90px 1fr 100px;
  grid-template-areas: 
  "menu"
  "nav"
  "section"
  "footer";
}

.inscription a{
  color: #0099FF;
  text-decoration: none;
  font-size: 20px;
 
}
.contacts :first-child{
  font-size: xx-large;
  margin: 10px 10px;
}

.contacts p{
  margin-left: 10px;
  line-height: 10px ;
}


.acces-map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulaire input{
  border-radius: 4px;
  outline:  none;
  height: 30px;
  font-size: 18px;
}

.formulaire button{
  height: 30px;
  background-color: tomato;
  border: none;
  border-radius: 4px;
}

.formulaire textarea{
  outline:  none;
  border-radius: 4px;
}


.transports :first-child{
  font-size: xx-large;
  margin: 10px 10px;
}

.transports p{
  margin-left: 10px;
}
.nav-content{
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 
object-fit: cover;
width: 100%;
height: 250px;
 */
.nav-content p{
  word-wrap: wrap;
}

nav{
  background-image: url('./assets/img/banner.jpg');
  object-fit: cover;
  width: 100%;
  height: 600px;
  grid-area: nav;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
nav h2{
  text-align: center;
}
nav p{
  font-size: 17px;
}
/* img[alt="logo"]{
  height: 100px;
  width: 25%;
  margin-left: 10px;
} */

menu{
  grid-area: "menu";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;
  height: 55px;
  position: fixed;
  width: 100%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.menu li .on{
  color: #f60;
}

.menu li{
  display: inline;
  margin-left: 22px;
}

.menu li a{
  text-decoration: none;
  color: rgb(159, 154, 154);
  text-transform: uppercase;
  transition: 0.5s;
}

.menu li a:hover{
  color: white;
  transition: 0.5s;
}

.voir-menu, .cacher-menu, #check{
  display: none;

}
section{
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  width: 730px;
  font-size: 30px;
 
}
.article-home{
  width: 500px;
  text-align: center;
  margin: auto;
}


.video{
  text-align: center;
}


footer{
  background-color: #393939;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}

.footer{
  display: flex;
  margin: auto;
}

footer p{
  color:white;
  font-size: 13px;
  margin-right: 10px;
}

.pageFacebook{
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  margin-left: 10%;
}

.pageEnfants{
  margin-top: 10px;
}

.pageEnfants h3{
  text-decoration: none;
  color: #E33028;
  cursor: pointer;
}

.pageAdultes h3{
  text-decoration: none;
  color: #E33028;
  cursor: pointer;
}

.pageEnfants h3:hover{
  color: #e45f5a;
  transition: 0.5s;
}

.pageAdultes h3:hover{
  color: #e45f5a;
  transition: 0.5s;
}


.certif{
  display: flex;
  flex-direction: row-reverse;
}
.inscription-content{
  display: flex;
  flex-direction: row-reverse;
}

.horaires{
  display: flex;
  flex-direction: row-reverse;
}

.tarifs-content{
  display: flex;
  flex-direction: row-reverse;
}

.contact{
  display: flex;
  flex-direction: row-reverse;
}

/* Social Media */
.socialIcon>*:hover{
  color: white;
  transition: 0.5s;
}

.socialIcon {
  color:rgb(159, 154, 154);
  cursor: pointer;
}

.socialIcon :nth-of-type(2) {
  margin: 0 5px;
}

form{
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin:100px auto;
  width: 500px;
}

form input{
  margin-bottom: 20px;
}
textarea{
  margin-bottom: 20px;
}
.inscription :first-child{
  font-size: xx-large;
  margin: 10px 10px;
}

.inscription  p{
  margin-left: 10px;
}
/* tab */
table {
  border:3px solid black;
  border-collapse:collapse;
  width:90%;
  margin:135px auto;
  
  }
  thead, tfoot {
  background-color:#D0E3FA;
  border:1px solid #6495ed;
  }
  tbody {
  background-color:#FFFFFF;
  border:1px solid black;
  }
  th {
  font-family:monospace;
  border:1px dotted black;
  padding:5px;
  background-color:#EFF6FF;
  width:15%;
  }
  td {
  font-family:sans-serif;
  font-size:80%;
  border:1px solid black;
  padding:5px;
  text-align:left;
  }
  caption {
  font-family:sans-serif;
  }


    /* Judo & JJB */
  th[class='eveil'], td[class='eveil']{
    background-color: tomato;
  }
  th[class='baby-presPoussin'], td[class='baby-presPoussin']{
    background-color: steelblue;
  }
  th[class='poussin-benjamin'], td[class='poussin-benjamin']{
    background-color: papayawhip;
  }
  th[class='ados-adultes'], td[class='ados-adultes']{
    background-color: orange;
  }

  /* MMA */
  th[class='mma-kids'], td[class='mma-kids']{
    background-color: seagreen;
  }
  th[class='mma-ados-adultes'], td[class='mma-ados-adultes']{
    background-color: rgb(0, 179, 255);
  }

  /* Boxe */
   th[class='boxe-kids'], td[class='boxe-kids']{
    background-color: #fb1;
  }
  th[class='boxe-lady'], td[class='boxe-lady']{
    background-color: pink;
  }
  th[class='boxe-mixte'], td[class='boxe-mixte']{
    background-color: rgb(17, 255, 172);
  }

  /* centrer le texte dans les colonnes */
td, th{
    text-align: center;
  }
  .certif img{
   margin: auto;
  }


@media screen and (max-width: 950px) {

  nav{
    display: none;
  }

  menu{
    display: flex;
    justify-content: flex-start;
    background-color: #1F1F1F;
    top: 0;
  }

  /* changer color menu Burger */
label[class="voir-menu"]{
  color: white;
}

/* cacher la X pour faire disparaitre le menu */
label[class="cacher-menu"]{
  display: none;
}
/* supprimer social icon du menu */
.socialIcon{
  display: none;
}

.voir-menu{
  margin-left: 10px;
}
  .voir-menu, .cacher-menu{
    display: block;
    font-size: 30px;
    cursor: pointer;
    transform-origin: 0.5s;
}

.voir-menu:hover, .cacher-menu:hover{
    color: #666;
    transform-origin: 0.5s;
}

.menu{
    background-color: #dbdbdb;
    position: fixed;
    top:55px;
    left: -100%;
    height: 100vh;
    width: 100%;
    transition: 0.5s;
    padding-top: 80px;
}
.menu-content{
  display: flex;
  justify-content: space-around;
 
}

.menu li{
    display: block;
    margin-left: 22px;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}

/* color text dans menu burger */
.menu li a {
  color: black;
}

#check:checked ~ .menu{
    left: 0;
}

.cacher-menu{
    position: absolute;
    top: 40px;
    left: 40px;
    
}

footer p{
  display: none;
}



}